<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334844031921-blt9oc4umb8vrou3qqtgg3as8kckbuvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334844031921-blt9oc4umb8vrou3qqtgg3as8kckbuvo</string>
	<key>API_KEY</key>
	<string>AIzaSyDDAdFseEAP-5QjyxleoBEV2gq42B2DHJg</string>
	<key>GCM_SENDER_ID</key>
	<string>334844031921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeHireApp</string>
	<key>PROJECT_ID</key>
	<string>finalone-d7abe</string>
	<key>STORAGE_BUCKET</key>
	<string>finalone-d7abe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334844031921:ios:13b203c95c778f0aba0390</string>
	<key>DATABASE_URL</key>
	<string>https://finalone-d7abe-default-rtdb.firebaseio.com</string>
</dict>
</plist>